@import "reset.css";
@import "slick.css";
@import url("https://use.typekit.net/wll5okd.css");

@media screen and (min-width: 1024px) {
  html {
    font-size: 1vw;
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  body {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh)* 100);
    height: -webkit-calc(var(--vh, 1vh)* 100);
    width: calc(var(--vw, 1vw)* 100);
    width: -webkit-calc(var(--vw, 1vw)* 100);
    word-break: keep-all;
    scroll-behavior: smooth;
    overflow: hidden;
    color: white;
    background-color: rgb(155, 155, 155);
  }

  #myCanvas {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  #canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
  }

  .heading_under {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
  }

  .lining {
    width: 100%;
    height: 3px;
    background-color: white;
  }


  div.title {
    flex: auto;
    /* padding:1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: ocr-a-std, monospace;
    font-weight: 400;
    font-style: normal;


  }

  .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }

  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
    -webkit-animation: marquee 40s linear infinite;
  }

  .marquee2 span {
    animation-delay: 20s;
    -webkit-animation-delay: 20s;
  }

  @keyframes marquee {
    0% {
      transform: translate(0%, 0);
      -webkit-transform: translate(0%, 0);

    }

    100% {
      transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
    }
  }

  .container {
    /* position: absolute; */
    /* top:9.25rem; */
    width: 100%;
    height: 80%;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr;
    grid-template-rows: 1fr;
    place-content: top space-evenly;

  }

  div.content_box {
    /* width: 100%;
  height: 100%; */
    padding: 1rem 1rem 1rem 1rem;
    height: calc(100%-2rem);
    width: calc(100%-2rem);
    overflow: hidden;
  }

  div.content_box:hover {
  z-index: 99998;
  }

  div#box_1 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }

  div#box_2 {
    grid-column: 3;
    /* display: none; */
    /* grid-row:1/4; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */


  }

  div#box_3 {
    grid-column: 5;
    /* display: none; */
    /* grid-row:6/10; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */


  }

  div#box_4 {
    grid-column: 7;
    /* display: none; */
    /* grid-row:6/10; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */
  }

  div#box_5 {
    grid-column: 9;
    /* display: none; */
    /* grid-row:6/10; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */
  }

  div.text_box {
    /* position: absolute; */
    text-align: left;
    font-size: 1.0rem;
    line-height: 1.6rem;
    padding: 1rem;
    white-space: normal;
    overflow: hidden;
    background-color: rgb(155, 155, 155);
    color: white;
    border: 3px solid white;
    scroll-behavior: smooth;

  }

  div.text_box p {
    margin-bottom: 2rem;
  }

  div.text_box:hover {
    z-index: 99999;
    overflow-y: scroll;
  }

  div.head_box {
    display: none;
    justify-content: center;
    align-items: center;

  }

  div.active#active {
    display: none;
    margin: 1rem;
    font-size: 8rem;
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: rgb(155, 155, 155);
    position: absolute;
    top: calc(90% - 10rem);
    left: 20%;
    z-index: 2;
  }

  @keyframes marquee3 {
    0% {
      transform: scale(1.0);
    }

    100% {
      transform: scale(1.2);
    }
  }

  div.head_box:hover {
    z-index: 99998;
    cursor: hand;
    animation: marquee3 1s ease-in-out forwards;
  }

  div.head_box p {
    font-size: 1rem;
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 700;

    font-style: normal;
    text-align: center;
    border: 3px solid white;
    padding: 1rem;
    background-color: rgb(155, 155, 155);
  }

  div.head_box p:hover {
    cursor: pointer;
  }

  div#text_1 {
    grid-column: 1/5;
    grid-row: 1/5;
    overflow: scroll;
    overflow-x: hidden;
  }

  div#head_1 {
    /* grid-column: 1/5;
    grid-row: 4/5; */
    overflow-x: hidden;
    border-width: 3px;
    /* margin-top: 1rem; */
  }

  div#text_2 {
    grid-column: 1/5;
    grid-row: 1/5;
    overflow: scroll;
    overflow-x: hidden;
  }

  div#head_2 {
    /* grid-column: 1/5;
    grid-row: 1/2; */
    overflow-x: hidden;
    border-width: 3px;
    border-color: white;
    /* margin-top: 1rem; */
  }

  div#text_3 {
    grid-column: 1/5;
    grid-row: 1/5;
    overflow: scroll;
    overflow-x: hidden;
  }

  div#head_3 {
    /* grid-column: 1/5;
    grid-row: 4/5; */
    overflow-x: hidden;
    border-width: 3px;
    border-color: white;
    /* margin-top: 1rem; */
  }

  div#text_4 {
    grid-column: 1/5;
    grid-row: 1/5;
    overflow: scroll;
    overflow-x: hidden;
  }

  div#text_5 {
    grid-column: 1/5;
    grid-row: 1/5;
    overflow: scroll;
    overflow-x: hidden;

  }

  table.schedule {
    font-size: 0.8rem;
    border-collapse: collapse;
  }

  table .title {
    text-align: center;

  }

  td.title {
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  tr.title {
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    vertical-align: middle;
    line-height: 1rem;
    padding: 0.5rem;
  }

  td#half {
    width: 50%;
  }

  .grid_line {
    width: auto;
    height: auto;
  }

  div.grid_line {
    background-color: white;
  }

  div#vertical_1 {
    grid-column: 2;
    grid-row: 1;
  }

  div#vertical_2 {
    grid-column: 4;
    grid-row: 1;
  }

  div#vertical_3 {
    grid-column: 6;
    grid-row: 1;
  }

  div#vertical_4 {
    grid-column: 8;
    grid-row: 1;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }


}

@media screen and (max-width: 1023px) {
  div.active#active {
    display: none;
  }


  div.grid_line {
    display: none;
  }

  html {
    font-size: 1vh;
    overflow: hidden;
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  body {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh)* 100);
    height: -webkit-calc(var(--vh, 1vh)* 100);
    width: calc(var(--vw, 1vw)* 100);
    width: -webkit-calc(var(--vw, 1vw)* 100);
    word-break: keep-all;
    scroll-behavior: smooth;
    overflow: hidden;
    color: white;
    background-color: black;

  }

  #myCanvas {
    /* display: flex;
    flex-direction: column; */
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh)* 100);
    height: -webkit-calc(var(--vh, 1vh)* 100);
    width: calc(var(--vw, 1vw)* 100);
    width: -webkit-calc(var(--vw, 1vw)* 100);
  }

  #canvas {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -4;
  }

  .heading {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 0%;
    left: 0%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
  }

  .heading_under {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 90%;
    left: 0%;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 10%;
    /* vertical-align:; */
  }

  div.title {
    /* flex: auto; */
    /* padding:1rem; */
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    text-align: center;
    font-family: ocr-a-std, monospace;
    font-weight: 400;
    font-style: normal;
  }

  .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    /* position: absolute; */
  }

  .marquee span {
    display: inline-block;
    /* padding-left: 100vw; */
    animation: marquee 40s linear infinite;
    -webkit-animation: marquee 40s linear infinite;

  }

  .marquee2 span {
    animation-delay: 20s;
    -webkit-animation-delay: 20s;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);

    }

    100% {
      transform: translate(-100%, 0);
      -webkit-transform: translate(-100%, 0);
    }
  }

  .lining {
    /* flex:0.25rem; */
    width: 100%;
    height: 3px;
    background-color: white;
  }

  .line_upper {
    position: absolute;
    top: calc(100% - 3px);
  }

  .container {
    /* position: absolute; */
    width: 100%;
    height: 80%;
    z-index: 2;
    /* place-content: top space-evenly; */
    overflow: hidden;
  }

  div.content_box {
    position: relative;
    width: 100%;

    box-sizing: border-box;
    overflow: hidden;
  }

  div.text_box {
    box-sizing: border-box;
    margin: 4rem;
    text-align: left;
    font-size: 2.0rem;
    line-height: 2.9rem;
    white-space: normal;
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100% - 8rem);
    color: rgba(255, 255, 255, 1);
  }

  /* div.content_box:hover{
    background-color: black;
  } */

  div.head_box {
    font-size: 3rem;
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-right: 1rem;
  }

  div.text_box p {
    margin-bottom: 2.9rem;
  }

  div.slick-slide>div {
    height: 100%;
    overflow: hidden;
  }

  table.schedule {
    font-size: 2rem;
    border-collapse: collapse;
  }

  table .title {
    text-align: center;
  }

  td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    vertical-align: middle;
    line-height: 2.6rem;
    padding: 2rem;
  }

  td.title {
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  tr.title {
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  td#half {
    width: 50%;
  }



  div.prev_button {
    position: absolute;
    top: 50%;
    width: 5rem;
    height: 5rem;
    /* background-color: black; */
    z-index: 20;
  }

  .prev_arrow {
    width: 100%;
    height: 100%;
  }

  div.next_button {
    position: absolute;
    top: 50%;
    left: calc(100% - 5rem);
    width: 5rem;
    height: 5rem;
    z-index: 5;
  }

  line {
    stroke: black;
    stroke-width: 5px;
  }

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .slick-arrow {
    display: inline-block;
  }

  /* .slick-active {
    display: flex;
  } */
}
